.cart-item {
	width: 100%;
	height: 120px;
	margin-bottom: 50px;
	background-color: #82b497;
}
.item-img {
	width: 25%;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.image-wrapper {
	width: 25%;
	float: left;
	margin-top: 10px;
}

.quantity-wrapper {
	width: 75%;
	float: left;
}

.quantity {
	float:left;
	font-size: 14px;
	margin-left: 20px;
}

.price {
	font-size: 12px;
}

.delete {
	background-color: #82b497;
	color: white;
	border: 1;
	border-color: black;
	padding-left: 20px;
	padding-right: 20px;
}
