.cart-wrapper {
	background-color: #77c497;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.emptyState {
	color: white;
	font-size: 14px;
	font-weight: 300;
}

.cart-wrapper p {
	color: white;
	margin-top: 10px;
	font-weight: 900;
}

.total {
	font-size: 16px;
}