.header-wrapper {
	background-color: white;
	width: 100%;
	position: relative;
	height: 200px;
	border-bottom: solid 10px;
	border-color: green;
}

.header-wrapper h1 {
	margin: auto;
	color: green;
	font-family: "Verdana";
	font-size: 45px;
	margin-top: 50px;
}

.title-wrapper{
	position: absolute;
  	bottom: 0px;
  	left: 40px;
  	width: 200px;
  	height: 45px;
  	font-weight: 900;
  	background-color: green;
}

.title-wrapper p {
	color: white;
	font-family: "Verdana";
	margin-bottom: 20px;
	font-size: 20px;
}

